[submodule "LinuxBuild/poky"]
	path = LinuxBuild/poky
	url = git://git.yoctoproject.org/poky.git
	branch = dunfell
[submodule "LinuxBuild/meta-openembedded"]
	path = LinuxBuild/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "LinuxBuild/meta-raspberrypi"]
	path = LinuxBuild/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
	branch = dunfell
[submodule "LinuxBuild/meta-qt5"]
	path = LinuxBuild/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = dunfell
